@import url("https://fonts.googleapis.com/css?family=Eczar:800|Lato:300&display=swap");
* {
    margin: 0;
    padding: 0;
    color: gray;

    --font-large: 45pt;
    --font-small: 20pt;

    --spacer-small: 1em;
    --spacer-large: 2em;
    
}
body {
    cursor: none;
    background-color: black;
    overflow-x: hidden;
}
#body-container {
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-large);
    font-weight: bold;

    z-index: -200;
}
header h1 {  
    width: 50%;

    line-height: var(--spacer-small);

    color: black;
    -webkit-text-stroke: 1px gray; 
}

header #about-container {
    margin: var(--spacer-small);

    overflow: hidden;
}
header .about {
    position: relative;
    transition: 0.5s top linear;
}
header p {
    width: 40%;

    margin: var(--spacer-large) auto;
    
    color: gray;
    font-size: var(--font-small);
    font-weight: lighter;

    z-index: -20000;
}


#zoetrope {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#zoetrope .images {  
    height: 100vh;
    overflow: hidden;
}

#zoetrope #shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;

    box-shadow:inset 0 0 100px 25px black;
}

#zoetrope .images img {
    height: 100vh;
    overflow: hidden;
    transform-origin: top center;
}
#zoetrope .images img::selection {
    background-color: none;
}

#joints {
  
}
.joint {
    position: fixed;
    top: 0;
    left: 30vw;
    width: 25px;
    height: 25px;

    border: solid 1px red;
    border-radius: 50%;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;

    width: 128px;
}